@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

header,
footer {
  background-color: rgb(127, 154, 185);
  color: #fff;
  padding: 0.8rem 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

a:hover {
  color: rgb(108, 95, 95);
  padding-bottom: 8px;
}

.logo {
  font-size: 25px;
}

#date {
  position: absolute;
  top: 10%;
  right: 8%;
  font-size: 18px;
  color: rgb(127, 154, 185);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

h2 {
  font-size: 30px;
  margin: 30px;
}

#book-list {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(127, 154, 185);
  border-radius: 4px;
}

.book {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title {
  text-transform: capitalize;
}

.remove-btn {
  color: #fff;
  background-color: rgb(237, 89, 89);
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
}

hr {
  height: 2px;
  width: 80px;
  background-color: rgb(127, 154, 185);
}

/* form section */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
}

#add-btn {
  width: 50px;
  padding: 5px 8px;
  color: #fff;
  background-color: rgb(42, 143, 232);
  border-radius: 4px;
  border: none;
  margin-left: 7.25rem;
}

#error-msg {
  display: none;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: red;
}

/* contact information */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.contact-para {
  font-size: 20px;
  margin-bottom: 30px;
}

.details {
  margin: 7px;
}

/* to hide and show */

.hide {
  display: none;
}

.hide-onload {
  display: none;
}

.active {
  color: rgb(245, 68, 68);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  position: fixed;
  bottom: 0;
}
